[submodule "oh-my-zsh/custom/plugins/zsh-lsd"]
	path = oh-my-zsh/custom/plugins/zsh-lsd
	url = https://github.com/z-shell/zsh-lsd.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "gtk/.themes/dracula"]
	path = gtk/.themes/dracula
	url = https://github.com/dracula/gtk.git
