[submodule "oh-my-zsh/custom/plugins/zsh-lsd"]
	path = oh-my-zsh/custom/plugins/zsh-lsd
	url = https://github.com/z-shell/zsh-lsd.git
[submodule "gtk/.themes/dracula"]
	path = gtk/.themes/dracula
	url = https://github.com/dracula/gtk.git
[submodule "gedit/.local/share/gedit/styles"]
	path = gedit/.local/share/gedit/styles
	url = https://github.com/dracula/gedit.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
